<h1>Listing groupings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupings.each do |grouping| %>
  <tr>
    <td><%= grouping.user %></td>
    <td><%= grouping.group %></td>
    <td><%= link_to 'Show', grouping %></td>
    <td><%= link_to 'Edit', edit_grouping_path(grouping) %></td>
    <td><%= link_to 'Destroy', grouping, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grouping', new_grouping_path %>
