<%= stylesheet_link_tag "application.css" %>

<body>
<div class="site_wrapper">
<table id="center_wrapper">
<td>

<h1>About <%=@user.username %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</td>
</table>

</div>
</body>
