<h1>Listing user_events</h1>

<table>
  <tr>
    <th>User</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_events.each do |user_event| %>
  <tr>
    <td><%= user_event.user %></td>
    <td><%= user_event.event %></td>
    <td><%= link_to 'Show', user_event %></td>
    <td><%= link_to 'Edit', edit_user_event_path(user_event) %></td>
    <td><%= link_to 'Destroy', user_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User event', new_user_event_path %>
